BOT_TOKEN=
OPENAI_API_KEY=
MINIAPP_URL=https://archagent.onrender.com
UPLOAD_DIR=user_uploads
AI_OUTPUT_DIR=ai_outputs
DATA_DIR=data
IMAGE_MODEL=gpt-image-1
VISION_MODEL=gpt-4.1-mini
TRANSCRIBE_MODEL=gpt-4o-mini-transcribe
IMAGE_SIZE=1024x1024
ADMIN_API_TOKEN=
TON_API_BASE=
PYTHON_VERSION=3.10.13
